.bg-color--none {
  background-color: none;
}

.bg-color--red {
  background-color: var(--color-red ,#BC2031);
  color: #fff;
}

.bg-color--blue {
  background-color: var(--color-blue, #1375B7);
  color: #fff;
}

.bg-color--green {
  background-color: var(--color-green, #89BF48);
  color: #fff;
}