.button {
  background-color: var(--color-green);
  color: #fff;
  display: inline-block;
  font-size: 1.25rem;
  padding: .25em 1.25em;
  margin: 1rem auto;
  text-decoration: none;
  text-transform: uppercase;
}