/* 
  Vars
 */
 :root {
  --color-blue: #1375B7;
  --color-red: #BC2031;
  --color-green: #89BF48;
  --color-gray-dark: #2A2D34;
  --color-gray-light: #E0E0E2;
  --size-base: 16px;

  /* Text */
  --text-size: 16px;
  --text-color: #2c2c2c;
}