<div class="section section-text {{ .alignment }} bg-color--{{ if .overlay }}{{ .overlay }}{{ else }}none{{ end }} {{ with .image }}has-image section-text-image {{ end }}">
  <div class="inner  {{ with .direction }} {{.}} {{ end }}">
    {{- with .image -}}
      <div class="image-wrapper">
        <img src="{{.}}" />
      </div>
      <div class="content-wrapper">
    {{- end -}}

    {{- with .title -}}
      <h3 class="title title-tertiary title-text-section">{{ . | markdownify }}</h3>
    {{- end -}}

    {{- with .text -}}
      <p class="text text-text-section">{{ . | markdownify }}</p>  
    {{- end -}}

    {{- if (isset . "list") -}}
      <ul class="list">
        {{- range .list -}}
          <li class="list-item">{{ .item }}</li>
        {{- end -}}
      </ul> 
    {{- end -}}

    {{- if (isset . "link") -}}
      <a href="{{ .url }}" class="button button-{{ .button }}">{{ .link }}</a>
    {{- end -}}

    {{- with .image -}}
      </div>
    {{- end -}}
  </div>
</div>