:root {
  --header-height: 90px;
}

.header {
  /* background-color: rgba(224, 224, 226, 0.15); */
  background-color: rgba(255,255,255,1);
  height: var(--header-height, 90px);
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}
