.section-hero {
  background-size: cover;
  background-position: center;
  padding: 8rem 20px;
}

.section-hero > .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 

  position: relative;
  z-index: 1;
}