.quote-section {
  background: url('/images/pengsheng-guo-134596-unsplash.jpg');
  background-size: cover;
  background-position: left;
  padding: 2rem 20px;
  color: #fff;
  font-family: 'Abril Fatface';
}

.quote-section > .inner {
  position: relative;
}

.quote {
  font-size: 1.5em;
}