{{ define "main" }}
<div id="frontpage" class="frontpage">
  {{ with .Params.hero }}
    {{ partial "hero" (dict "image" .image "title" .title "text" .text "alignment" .alignment "overlay" .overlay) }}
  {{ end }}
  {{ with .Params.post_hero_text }}
    {{ partial "text-section" (dict "text" .text "overlay" .overlay "alignment" .alignment "link" .link "url" .url) }}
  {{ end }}
  {{ with .Params.quote_section }}
    {{ partial "text-block" (dict "quote" .quote "author" .author "image" .image "overlay" .overlay "quotations" .quotations)}}
  {{ end }}
  {{ with .Params.park_needs }}
    {{ partial "text-section" (dict "image" .image "overlay" "title" .title "") }}
  {{ end }}
  <div class="list-section"></div>
  <div class="text-section"></div>
</div>
{{ end }}
