{{ define "main" }}
<div id="about-page" class="page page-about">
  {{- with .Params.hero -}}
    {{ partial "hero" (dict "title" .title "text" .text "alignment" .alignment "overlay" .overlay) }}
  {{- end -}}

  {{- with .Params.who -}}
    {{ partial "text-section" (dict "title" .title "text" .text "alignment" .alignment "overlay" .overlay "image" .image "direction" .direction) }}
  {{- end -}}

  {{- with .Params.what -}}
    {{ partial "text-section" (dict "title" .title "text" .text "alignment" .alignment "overlay" .overlay "image" .image "direction" .direction) }}
  {{- end -}}

  {{- with .Params.history -}}
    {{ partial "text-section" (dict "title" .title "text" .text "alignment" .alignment "overlay" .overlay "image" .image "direction" .direction) }}
  {{- end -}}

  {{- with .Params.plans -}}
    {{ partial "text-section" (dict "title" .title "text" .text "list" .list "alignment" .alignment "overlay" .overlay "image" .image "direction" .direction) }}
  {{- end -}}

  {{- with .Params.beneficiaries -}}
    {{ partial "text-section" (dict "title" .title "text" .text "list" .list "alignment" .alignment "overlay" .overlay "image" .image "direction" .direction) }}
  {{- end -}}

  {{- with .Params.cta -}}
    {{- partial "cta" (dict "text" .text "button_text" .button_text "url" .button_destination "button_color" .button_color "background_color" .background_color "alignment" .alignment) -}}
  {{- end -}}

  
</div>
{{ end }}